{% extends "base_generic.html" %}

{% block content %}

    <nav class="navbar navbar-light bg-white shadow fixed-top">
        <div class="container-fluid px-2 px-lg-4">
            {% if user %}
            <a class="navbar-brand" href="/dashboard">
            {% else %}
            <a class="navbar-brand" href="/">
            {% endif %}
                <img src="/static/img/logo.svg" height="35" alt="LMS">
            </a>
            <div class="ml-auto">
                <div class="nav-item dropdown">
                    <a class="nav-link v-center pr-0 pr-lg-3" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="https://api.adorable.io/avatars/20/{{ user }}.png" width="30px" class="rounded-circle" alt="{{user}}">
                        <p class="mb-0 pl-2 small d-none d-lg-block pt-1">{{user}}</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right border-0 shadow rounded-0 mt-3 mr-2 mr-lg-0 small" aria-labelledby="profileDropdown">
                        <a class="dropdown-item small pl-3" href="/logout"><i class="fas fa-sign-out-alt pr-2"></i> Logout</a>
                    </div>
                </div>   
            </div>
        </div>
    </nav>
    <div class="container-fluid px-3 px-lg-5 mb-5 mt-5 pt-4">
        <ul class="nav nav-tabs border-0" id="dashNav" role="tablist">
            <li class="nav-item mr-2 mr-md-4 mt-3">
                <a class="nav-link rounded btn btn-sm active" id="books-tab" data-toggle="tab" href="#books" role="tab" aria-controls="books" aria-selected="true">BOOKS</a>
            </li>
            <li class="nav-item mr-2 mr-md-4 mt-3">
                <a class="nav-link rounded btn btn-sm" id="customers-tab" data-toggle="tab" href="#customers" role="tab" aria-controls="customers" aria-selected="false">STUDENTS/FACULTY</a>
            </li>
            <li class="nav-item mr-2 mr-md-4 mt-3">
                <a class="nav-link rounded btn btn-sm" id="stats-tab" data-toggle="tab" href="#stats" role="tab" aria-controls="stats" aria-selected="false">STATISTICS</a>
            </li>
            {% if is_admin %}
            <li class="nav-item mr-2 mr-md-4 mt-3">
                <a class="nav-link rounded btn btn-sm" id="staff-tab" data-toggle="tab" href="#staff" role="tab" aria-controls="staff" aria-selected="false">STAFF</a>
            </li>
            {% endif %}
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="books" role="tabpanel" aria-labelledby="books-tab">
                <div class="h1" id="modalSpinnerBook" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i class="fas fa-circle-notch fa-spin"></i></div>
                <div class="hide" id="bookcontainer">
                    <form class="d-flex mt-4 mb-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search Book/Author" id="searchBook">
                        <a class="btn btn-success text-white btn-sm small v-center px-3 ml-2" style="white-space: nowrap" href="/book/add">+ Add Book</a>
                    </form>
                    <div class="row">
                    {% for book in books %}
                    <div class="col-6 col-md-3 col-lg-2 mt-4">
                        <div class="btn shadow rounded-0 border-0 px-0 d-flex flex-column h-100 hoverBold p-0 book" onclick="showBookModal({{book._id}})">
                            <div class="flex-grow-0 d-flex justify-content-center align-items-center p-2 pb-0">
                                <img src="{{book.thumbnailUrl}}" class="w-100" alt="">
                            </div>
                            <div class="flex-grow-1">
                                <p class="mb-0 text-left px-2 small pt-1">{{book.title}}</p>
                                <div class="font-weight-light text-secondary d-flex px-2 text-left mb-3" style="font-size: 0.7em;">
                                    {% for author in book.authors %}
                                        {{author}}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <div class="tab-pane fade show" id="customers" role="tabpanel" aria-labelledby="customers-tab">
                
                <div class="h1" id="modalSpinnerCustomer" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i class="fas fa-circle-notch fa-spin"></i></div>
                <div class="hide" id="custContainer">
                    <form class="d-flex mt-4 mb-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search User by ID/Name..." id="searchUser">
                        <a class="btn btn-success text-white btn-sm small v-center px-3 ml-2" style="white-space: nowrap" href="/user/add">+ Add User</a>
                    </form>
                    <div class="row mb-2">
                        <div class="col-12 mt-4">
                            <div class="shadow p-3 w-100 text-center rounded border-0">
                                <div class="row">
                                    <div class="col-2"><p class="mb-0 font-weight-bold">Id</p></div>
                                    <div class="col-4"><p class="mb-0 font-weight-bold">Name</p></div>
                                    <div class="col-4"><p class="mb-0 font-weight-bold">Contact</p></div>
                                    <div class="col-2"><p class="mb-0 font-weight-bold">Faculty</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="customerContainer">
                        
                        
                    </div>
                </div>

            </div>
            <div class="tab-pane fade show" id="stats" role="tabpanel" aria-labelledby="stats-tab">
                
                <div class="row">
                    <div class="col">
                        <h3 class="text-info font-weight-light mt-3 text-uppercase">Important Statistics</h3>
                    </div>
                    <div class="col-auto v-center">
                        <a class="btn btn-success text-white v-center px-3" style="white-space: nowrap" href="/makecharts">Reload</a>
                    </div>

                </div>

                <div class="row">
                    {% for img in statImg %}
                    <div class="col-12 col-md-4">
                        <img src="/static/img/stats/{{img}}" class="h-100 w-100">
                    </div>
                    {% endfor %}
                </div>
                
            </div>
            {% if is_admin %}
            <div class="tab-pane fade show" id="staff" role="tabpanel" aria-labelledby="staff-tab">
                
                <div class="h1" id="modalSpinnerStaff" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i class="fas fa-circle-notch fa-spin"></i></div>
                <div class="hide" id="staContainer">
                    <form class="d-flex mt-4 mb-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search Staff" id="searchStaff">
                        <a class="btn btn-success text-white btn-sm small v-center px-3 ml-2" style="white-space: nowrap" href="/staff/add">+ Add Staff</a>
                    </form>
                    <div class="row mb-2">
                        <div class="col-12 mt-4">
                            <div class="shadow p-3 w-100 text-left rounded border-0">
                                <div class="row">
                                    <div class="col-8"><p class="mb-0 font-weight-bold">Email Id</p></div>
                                    <div class="col-2"><p class="mb-0 font-weight-bold">Admin Rights</p></div>
                                    <div class="col-2"><p class="mb-0 font-weight-bold">Delete</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="staffContainer">
                        
                        
                    </div>
                </div>
                
            </div>
            {% endif %}
        </div>
    </div>

    <div class="modalContainer d-none bg-translucent mt-5 pt-3">
        <div class="h-100 w-100 v-center h-center p-3 p-lg-5">
            <div class="bg-white h-100 w-100 rounded shadow px-3 py-3" style="position: relative">
                <div class="btn text-danger bg-white rounded-circle" onclick="hideModal()" style="position: absolute; right: -0.65rem; font-size: 1.5rem; top: -0.6rem;"><i class="far fa-times-circle"></i></div>
                <div style="overflow-y: scroll; height: 100%;" class="customScroll">
                    <div class="h1" id="modalSpinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i class="fas fa-circle-notch fa-spin"></i></div>
                    <div id="modalContent" class="p-3 d-none">
                                
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="fineModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">Set Fine</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            <div class="form-group">
                <label for="exampleInputEmail1">Fine Value</label>
                <input type="number" min="0" oninput="this.value = Math.abs(this.value)" class="form-control" id="fineValue" aria-describedby="emailHelp" placeholder="Fine">
                <small id="emailHelp" class="form-text text-muted">Please enter new fine value.</small>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" onclick="saveFine()">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    
{% endblock %}

{% block script %}


    <script>

        $(document).ready(() => {
            $("#bookcontainer").fadeIn();
            $("#modalSpinnerBook").fadeOut();
        })

        var bookData = null;
        var custData = null;
        var staffData = null;

        $("#customers-tab").on('click', () => {
            if(!custData) {
                fetchData("/customers", populateCustomer);
            }
        });

        $("#staff-tab").on('click', () => {
            if(!staffData) {
                fetchData("/staff", populateStaff);
            }
        });

        function populateStaff(response) {
            staffData = response;
            var data = staffData.data;
            for(var i = 0; i < data.length; i++) {
                username = data[i].username
                is_admin = data[i].is_admin
                colorFac = is_admin == 0 ? 'text-danger' : 'text-success'
                icoFac = is_admin == 0 ? 'fa-times-circle' : 'fa-check-circle'
                ebtn = is_admin == 1 ? "disabled" : "";
                slugUser = username.split("@")[0]
                admin = '<span class="mb-0 font-weight-light ' + colorFac + '"><i class="far ' + icoFac + '"></i></span>'
                ele = '<div class="col-12 mt-3"><div class="shadow p-2 px-3 font-weight-light w-100 text-left rounded border-0"><div class="row">'
                ele += '<div class="col-8"><p class="mb-0">' + username + '</p></div>'
                ele += '<div class="col-2"><p class="mb-0">' + admin + '</p></div>'
                ele += '<div class="col-2"><a href="/staff/remove/' + slugUser + '" class="mb-0 btn btn-sm btn-danger rounded-pill ' + ebtn + ' ">Delete</a></div></div></div></div>'

                $("#staffContainer").append(ele);
            }
            $("#staContainer").fadeIn();
            $("#modalSpinnerStaff").fadeOut();
        }

        function populateCustomer(response) {
            custData = response;
            var data = custData.data;
            for(var i = 0; i < data.length; i++) {
                user = data[i]
                UserId = user.roll_no
                UserName = user.name
                UserContact = user.contact
                colorFac = user.is_fac == 0 ? 'text-danger' : 'text-success'
                icoFac = user.is_fac == 0 ? 'fa-times-circle' : 'fa-check-circle'

                var ele = '<div class="col-12 mt-3" onclick="showUserModal(\'' + UserId + '\')"><div class="shadow btn p-2 hoverBold w-100 text-center rounded border-0 user"><div class="row"><div class="col-2"><p class="mb-0 font-weight-light">' + UserId + '</p></div><div class="col-4"><p class="mb-0 font-weight-light">' + UserName + '</p></div><div class="col-4"><p class="mb-0 font-weight-light">' + UserContact + '</p></div><div class="col-2">'
                ele += '<p class="mb-0 font-weight-light ' + colorFac + '"><i class="far ' + icoFac + '"></i></p></div></div></div></div>'
                $("#customerContainer").append(ele);
            }
            $("#custContainer").fadeIn();
            $("#modalSpinnerCustomer").fadeOut();
        }

        function showUserModal(userId) {
            fetchData("/custdata/" + userId, populateCustomerModal);
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('body').addClass("no-scroll");
            $('html').addClass("no-scroll");
            $(".modalContainer").fadeIn();
            $(".modalContainer").removeClass("d-none");
        }

        function populateCustomerModal(response) {
            userName = response.user.name
            userContact = response.user.contact
            userId = response.user.roll_no
            colorFac = response.user.is_fac == 0 ? 'text-danger' : 'text-success'
            icoFac = response.user.is_fac == 0 ? 'fa-times-circle' : 'fa-check-circle'
            isFAC = '<span class="mb-0 ml-1 font-weight-light ' + colorFac + '"><i class="far ' + icoFac + '"></i></span>';
            ele = '<h4 class="mb-1 text-info font-weight-bold">' + userName + '</h5>';
            ele += '<p class="mb-1">Faculty: ' + isFAC + '</p>';
            ele += '<p class="mb-1">Contact: ' + userContact + '</p>';
            ele += '<p class="mb-1">' + userId + '</p>';
            ele += '<a class="btn btn-danger text-white btn-sm small" href="/user/remove/' + userId + '">Remove User</a>';
            ele += '<h5 class="mt-3 font-weight-light mb-0">Books Issued</h5>';
            ele += '<div class="row"><div class="col-12 mt-1"><div class="p-3 w-100 text-left rounded border-0"><div class="row"><div class="col-1"><p class="mb-0 font-weight-bold">Id</p></div><div class="col-4"><p class="mb-0 font-weight-bold">Name</p></div><div class="col-2"><p class="mb-0 font-weight-bold">Issue Date</p></div><div class="col-2"><p class="mb-0 font-weight-bold">Return Date</p></div><div class="col-1"><p class="mb-0 font-weight-bold">Fine</p></div><div class="col-1"><p class="mb-0 font-weight-bold">Add Fine</p></div><div class="col-1"><p class="mb-0 font-weight-bold">Return</p></div> </div></div></div></div>';
            response.books.forEach(book => {
                bookReturn = book.return_date == "" ? false : true;
                retu = bookReturn ? book.return_date : "Not Returned"
                bEnable = bookReturn ? "disabled" : ""
                ele += '<div class="row py-1"><div class="col-12 mt-1"><div class="px-3 w-100 text-left rounded border-0 font-weight-light"><div class="row">';
                ele += '<div class="col-1"><p class="mb-0">' + book._id + '</p></div>'
                ele += '<div class="col-4"><p class="mb-0">' + book.title + '</p></div>'
                ele += '<div class="col-2"><p class="mb-0">' + book.issue_date + '</p></div>';
                ele += '<div class="col-2"><p class="mb-0">' + retu + '</p></div>';
                ele += '<div class="col-1"><p class="mb-0">' + book.fine_due + '</p></div>';
                ele += '<div class="col-1 small"><a class="btn btn-sm rounded-pill btn-outline-danger" href="#" data-toggle="modal" data-target="#fineModal" onclick="setFineObj(\'' + userId + '\',\'' + book._id + '\')">Edit Fine</a></div>'
                ele += '<div class="col-1 small"><a class="btn btn-sm rounded-pill btn-outline-success ' + bEnable + '" href="/book/return/' + book._id + '/' + userId + '">Return</a></div>'
                ele += '</div></div></div></div>';
                
            }); 
            
            $("#modalContent").html(ele);
            $("#modalContent").removeClass("d-none");
            $("#modalSpinner").addClass("d-none");
        }

        var uidFINE = null;
        var bidFINE = null;

        function setFineObj(uid, bid) {
            uidFINE = uid;
            bidFINE = bid;
        }

        function saveFine() {
            fineamonut = $("#fineValue").val();
            window.location.replace("/" + fineamonut + "/" + uidFINE + "/" + bidFINE);
        }
        
        $("#searchBook").keyup( (event)=> {
            search_book(event);
        }) 

        $("#searchUser").keyup( (event)=> {
            search_user(event);
        }) 

        function search_user(event) {
            event.preventDefault();
            input = $("#searchUser").val().toLowerCase();
            let x = document.getElementsByClassName('user'); 
            for (i = 0; i < x.length; i++) {  
                var paraList = $(x[i].children[0].children).find("p")
                var textId = paraList[0].innerHTML;
                var textName = paraList[1].innerHTML;
                var textContact = paraList[2].innerHTML;
                if (!textId.toLowerCase().includes(input) && !textName.toLowerCase().includes(input) && !textContact.includes(input)) { 
                    $(x[i].parentNode).addClass("d-none");
                } 
                else { 
                    $(x[i].parentNode).removeClass("d-none");                
                } 
            }
        }
        

        function search_book(event) {
            event.preventDefault();
            input = $("#searchBook").val().toLowerCase();
            let x = document.getElementsByClassName('book'); 
            for (i = 0; i < x.length; i++) {  
                var textTitle = x[i].children[1].children[0].innerHTML;
                var textAuthor = x[i].children[1].children[1].innerHTML;
                if (!textTitle.toLowerCase().includes(input) && !textAuthor.toLowerCase().includes(input)) { 
                    $(x[i].parentNode).addClass("d-none");
                } 
                else { 
                    $(x[i].parentNode).removeClass("d-none");                
                } 
            }
        }

        function showBookModal(bookId) {
            if(bookData) {
                populateBookModal(bookData)
            }
            else {
                fetchData('/book/' + bookId, populateBookModal)
            }
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('body').addClass("no-scroll");
            $('html').addClass("no-scroll");
            $(".modalContainer").fadeIn();
            $(".modalContainer").removeClass("d-none");
        }
        
        function get_avail(issued) {
            if(issued == 'none') {
                return '<span class="badge badge-pill bg-success">Available</span>';
            }
            else {
                return '<span class="badge badge-pill bg-danger">Unavailable</span>';
            }
        }

        function populateBookModal(response) {
            var bookData = response;
            var data = bookData.data;
            bImg = data.thumbnailUrl
            bTitle = data.title
            bAuthor = data.authors
            bRack = data.rack
            bCategory = data.categories.replace("\\", "")
            bCategory = bCategory.replace(",", ", ")
            bIsbn = data.isbn
            bShortDesc = data.shortDescription
            bLongDesc = data.longDescription
            bAvail = get_avail(data.issued)
            allowIssue = data.issued == "none" ? "" : "disabled";
            bId = data._id

            ele = '<div class="row mt-3"><div class="col-12 col-md-auto px-5 px-md-0"><img src="' + bImg + '" style="min-height: 200px; min-width: 100px;" alt=""></div><div class="col"><h4 class="font-weight-bold text-dark text-left mt-3 mt-md-2 mb-1"><form class="d-flex mb-1"><input class="form-control mr-sm-2" type="text" placeholder="STU/FAC ID" id="issueToId" required=""><a class="btn btn-success ' + allowIssue + ' text-white btn-sm small v-center px-3 ml-2" style="white-space: nowrap" onclick="issueBook(' + data._id + ')">Issue</a></form>' + bTitle
            ele += '</h4><div class="font-weight-light text-secondary d-flex text-left mb-0 small">' + bAuthor + '</div><div class="mt-0 small text-dark">Status: ' +  bAvail  + '</div><p class="mb-0 text-primary small">Rack No: <span>' + bRack + '</span></p><p class="mt-0 small text-warning mb-0">Category: ' + bCategory + '</p><p class="mt-0 small text-secondary mb-0">ISBN: ' + bIsbn + '</p>'
            ele += '</div></div><h5 class="font-weight-light mt-3 mb-1">Description</h5><p>'+ bShortDesc +'</p><p>' + bLongDesc +  '</p>' + '<div class="d-flex mt-3"><a class="ml-auto btn btn-danger text-white btn-sm small" href="/book/remove/(' + bId + ')">Remove Book Record</a></div>'

            $("#modalContent").html(ele);
            $("#modalContent").removeClass("d-none");
            $("#modalSpinner").addClass("d-none");
        }


        function hideModal() {
            $('body').removeClass("no-scroll");
            $('html').removeClass("no-scroll");
            $(".modalContainer").fadeOut(function () {
            $("#modalContent").addClass("d-none");
            $("#modalSpinner").removeClass("d-none");
            });
        }

        function issueBook(bookId) {
            issId = $("#issueToId").val();
            if(issId) {
                window.location.replace("/book/issue/" + bookId + "/" + issId);
            }
        }

        $(document).on('keydown', function(event) {
            if (event.key == "Escape") {
                hideModal();
            }
        });

    </script>
{% endblock %}