{% extends "base_generic.html" %}

{% block content %}

    <nav class="navbar navbar-light bg-white shadow fixed-top">
        <div class="container-fluid px-2 px-lg-4">
            {% if user %}
            <a class="navbar-brand" href="/dashboard">
            {% else %}
            <a class="navbar-brand" href="/">
            {% endif %}
                <img src="/static/img/logo.svg" height="35" alt="LMS">
            </a>
            <div class="ml-auto">
                <a href="/login" class="btn btn-outline-success rounded-pill btn-sm px-3">Staff Login</a>
            </div>
        </div>
    </nav>
    
    <div class="container-fluid px-3 px-lg-5 pt-3 mt-5 mb-5">

        <form class="d-flex mt-3 mb-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search Book/Author" id="searchBook">
            <button class="btn btn-outline-primary btn-sm px-3 ml-2" onclick="search_book(event)">Search</button>
        </form>

        <div class="row">
            {% for book in books %}
            <div class="col-6 col-md-3 col-lg-2 mt-5">
                <div class="btn shadow rounded-0 border-0 px-0 d-flex flex-column h-100 hoverBold p-0 book" onclick="showModal({{book._id}})">
                    <div class="flex-grow-0 d-flex justify-content-center align-items-center p-2 pb-0">
                        <img src="{{book.thumbnailUrl}}" class="w-100" alt="">
                    </div>
                    <div class="flex-grow-1">
                        <p class="mb-0 text-left px-2 small pt-1">{{book.title}}</p>
                        <div class="font-weight-light text-secondary d-flex px-2 text-left mb-3" style="font-size: 0.7em;">
                            {% for author in book.authors %}
                                {{author}}{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="modalContainer bg-translucent d-none mt-5 pt-3">
        <div class="h-100 w-100 v-center h-center p-3 p-lg-5">
            <div class="bg-white h-100 w-100 rounded shadow px-3 py-3" style="position: relative">
                <div class="btn text-danger bg-white rounded-circle" onclick="hideModal()" style="position: absolute; right: -0.65rem; font-size: 1.5rem; top: -0.6rem;"><i class="far fa-times-circle"></i></div>
                <div style="overflow-y: scroll; height: 100%;" class="customScroll">
                    <div class="h1" id="modalSpinner" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)"><i class="fas fa-circle-notch fa-spin"></i></div>
                    <div id="modalContent" class="p-3 d-none">
                          
                    </div>
                </div>
            </div>
        </div>
    </div>

    
{% endblock %}

{% block script %}


    <script>
        
        $("#searchBook").keyup( (event)=> {
            search_book(event);
        }) 

        function search_book(event) {
            event.preventDefault();
            input = $("#searchBook").val().toLowerCase();
            let x = document.getElementsByClassName('book'); 
            for (i = 0; i < x.length; i++) {  
                var textTitle = x[i].children[1].children[0].innerHTML;
                var textAuthor = x[i].children[1].children[1].innerHTML;
                if (!textTitle.toLowerCase().includes(input) && !textAuthor.toLowerCase().includes(input)) { 
                    $(x[i].parentNode).addClass("d-none");
                } 
                else { 
                    $(x[i].parentNode).removeClass("d-none");                
                } 
            }
        }

        function showModal(bookId) {
            fetchData('/book/' + bookId, populateModal)
            $("html, body").animate({ scrollTop: 0 }, "fast");
            $('body').addClass("no-scroll");
            $('html').addClass("no-scroll");
            $(".modalContainer").fadeIn();
            $(".modalContainer").removeClass("d-none");
        }

        function get_avail(issued) {
            if(issued == 'none') {
                return '<span class="badge badge-pill bg-success">Available</span>';
            }
            else {
                return '<span class="badge badge-pill bg-danger">Unavailable</span>';
            }
        }

        function populateModal(response) {
            var data = response.data;

            bImg = data.thumbnailUrl
            bTitle = data.title
            bAuthor = data.authors
            bRack = data.rack
            bCategory = data.categories.replace("\\", "")
            bCategory = bCategory.replace(",", ", ")
            bIsbn = data.isbn
            bShortDesc = data.shortDescription
            bLongDesc = data.longDescription
            bAvail = get_avail(data.issued)

            ele = '<div class="row mt-3"><div class="col-12 col-md-auto px-5 px-md-0"><img src="' + bImg + '" style="min-height: 200px; min-width: 100px;" alt=""></div><div class="col"><h4 class="font-weight-bold text-dark text-left mt-3 mt-md-2 mb-1">' + bTitle + '</h4><div class="font-weight-light text-secondary d-flex text-left mb-0 small">' + bAuthor + '</div><div class="mt-0 small text-dark">Status: ' +  bAvail  + '</div><p class="mb-0 text-primary small">Rack No: <span>' + bRack + '</span></p><p class="mt-0 small text-warning mb-0">Category: ' + bCategory + '</p><p class="mt-0 small text-secondary mb-0">ISBN: ' + bIsbn + '</p></div></div><h5 class="font-weight-light mt-3 mb-1">Description</h5><p>'+ bShortDesc +'</p><p>' + bLongDesc +  '</p>';  

            $("#modalContent").html(ele);
            $("#modalContent").removeClass("d-none");
            $("#modalSpinner").addClass("d-none");
        }


        function hideModal() {
            $('body').removeClass("no-scroll");
            $('html').removeClass("no-scroll");
            $(".modalContainer").fadeOut(function () {
            $("#modalContent").addClass("d-none");
            $("#modalSpinner").removeClass("d-none");
            });
        }

        $(document).on('keydown', function(event) {
            if (event.key == "Escape") {
                hideModal();
            }
        });

    </script>
{% endblock %}